SERVER_PORT=3000
API_VERSION=2.0.1
MS_DATOS=http://localhost:3001
JWT_KEY=f723861266e7446006497747e9262f2f77e8a93e3d2c882103f566412e690f0a

DATABASE_ADDR=localhost
KEYSPACE=evisor

FILES_SERVICE_URL=http://localhost:3006
FILES_BASE_PATH=C:/Documents

LOG_LEVEL=info

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=100