.form-simple {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.form-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--principal-color);
    border-color: var(--principal-color) transparent var(--principal-color) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}